@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@0,400;0,500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:opsz,wght@5..1200,400;5..1200,500&display=swap');
@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNova-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNovaSemibold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNovaBold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNovaBlack.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/assets/fonts/MonumentExtended-Regular.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: 'Monument Extended';
  src: url('/assets/fonts/MonumentExtended-Bold.otf') format('opentype');
}

* {
  font-family: 'Proxima Nova', 'Montserrat', 'Playfair', 'Playfair Display SC',
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slick-track {
  height: auto !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

.slick-slider > .slick-dots > ul > li.slick-active {
  background-color: #060022;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.slick-slider > .slick-dots > ul > li {
  background-color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #060022;
}

.slick-slider > .slick-dots {
  bottom: -30px;
}
#custom_collections_arrow::before {
  content: '' !important;
}

.slider-container-main {
  overflow: hidden;
}

video {
  border-radius: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blog_content h1 {
  font-size: 35px;
}
.blog_content p {
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
}
.blog_content img {
  width: 100%;
  object-fit: cover;
  max-height: 500px;
  margin-bottom: 37px;
}
.blog_content h2 {
  font-size: 22px;
  margin-bottom: 20px;
}
.blog_content h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.blog_content ul {
  list-style-type: initial;
  margin-inline-start: 1em;
  margin: 20px 0px;
}
.blog_content li {
  font-size: 18px;
  margin-bottom: 20px;
  color: black;
}
.blog_content a {
  text-decoration: underline;
}
.blog_content a:hover {
  color: red;
}

@media screen and (max-width: 900px) {
  .blog_content h1 {
    font-size: 25px;
  }
  .blog_content p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .blog_content img {
    max-height: 300px;
    margin-bottom: 20px;
  }
  .blog_content h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .blog_content h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .blog_content ul {
    margin: 10px 0px;
  }
  .blog_content li {
    font-size: 17px;
    margin-bottom: 15px;
  }
}

.btnQuest {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  font-size: 14px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.btnQuestOutlineB {
  color: #34296b;
  outline: 2px solid #34296b;
}
.btnQuestOutlineB:hover {
  color: white;
  background: #34296b;
}
.btnQuestOutlineG {
  color: rgba(140, 6, 6, 0.8);
  outline: 2px solid rgba(140, 6, 6, 0.8);
}
.btnQuestOutlineG:hover {
  color: white;
  background: rgba(140, 6, 6, 0.8);
}

.btnQuestsolidB {
  color: #fff;
  background-color: #34296b;
  outline: 2px solid #34296b;
}
.btnQuestsolidB:hover {
  opacity: 0.9;
}

.btnQuestsolidG {
  color: #fff;
  background-color: rgba(140, 6, 6, 0.8);
  outline: 2px solid rgba(140, 6, 6, 0.8);
}
.btnQuestsolidG:hover {
  opacity: 0.9;
}

.scroll-container {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Webkit browsers (Chrome, Safari, Edge) */
.scroll-container::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
